<ng-container *ngIf="userRole === 'Client'">
  <app-clientnav></app-clientnav>
</ng-container>

<ng-container *ngIf="userRole === 'Manager'">
  <app-managernav></app-managernav>
</ng-container>

<div class="container">
  <main>
    <section class="feedback">
      <h2>Feedback Received</h2>
      <table>
        <thead>
          <tr>
            <th>S.NO</th>
            <th>FEEDBACK</th>
            <th>RATING</th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let feedback of feedbacks; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ feedback.feedbackText }}</td>
            <td>{{ feedback.rating }}</td>
            <td>
              <button class="view-agent" (click)="viewAgentInfo(feedback)">View Agent Info</button>
              <button class="view-ticket" (click)="viewTicketInfo(feedback)">View Ticket Info</button>
              <button class="delete" (click)="confirmDelete(feedback.feedbackId)">Delete</button>
            </td>
          </tr>
          <tr *ngIf="feedbacks==null">
            <td colspan="4">No Data Found</td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>
</div>

<!-- Info Modal -->
<div *ngIf="showInfoModal" class="profile-popup">
  <div class="profile-content">
    <button class="close-btn" (click)="closeInfoModal()">&times;</button>
    <h2>{{ infoModalTitle }}</h2>
    <div class="info-modal-text">
      {{ infoModalContent }}
    </div>
  </div>
</div>

<!-- Delete Confirmation Modal -->
<div *ngIf="showDeleteConfirm" class="modal">
  <div class="modal-content">
    <h2>Confirm Delete</h2>
    <p>Are you sure you want to delete this feedback?</p>
    <div class="btn-div">
      <button (click)="deleteFeedback()" class="delete-yes">Yes</button>
      <button (click)="closeDeleteConfirm()" class="delete-no">No</button>
    </div>
  </div>
</div>

<!-- Success Message Modal -->
<div *ngIf="showSuccessMessage" class="modal">
  <div class="modal-content">
    <h2>Success</h2>
    <p>Feedback deleted successfully.</p>
  </div>
</div>