<ng-container *ngIf="userRole === 'Client'">
  <app-clientnav></app-clientnav>
  </ng-container>
   
  <ng-container *ngIf="userRole === 'Manager'">
  <app-managernav></app-managernav>
  </ng-container>
   
  <div class="form-container">
   
    <h2 *ngIf="!isEditing">Create New Ticket</h2>
  <h2 *ngIf="isEditing">Edit Ticket</h2>
   
    <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
   
      <label for="title">Ticket Title</label>
  <input type="text" id="title" formControlName="title" />
  <div class="error" *ngIf="ticketForm.get('title').touched && f.title.errors">
  <span *ngIf="f.title.errors.required">Title is required.</span>
  <span *ngIf="f.title.errors.minlength">Title must be at least 3 characters.</span>
  </div>
   
      <label for="description">Description</label>
  <textarea id="description" formControlName="description"></textarea>
  <div class="error" *ngIf="ticketForm.get('description').touched && f.description.errors">
  <span *ngIf="f.description.errors.required">Description is required.</span>
  <span *ngIf="f.description.errors.minlength">Description must be at least 10 characters.</span>
  </div>
   
   
      <label for="priority">Priority</label>
  <select id="priority" formControlName="priority">
  <option value="">Select Priority</option>
  <option value="Low">Low</option>
  <option value="Medium">Medium</option>
  <option value="High">High</option>
  </select>
  <div class="error" *ngIf="ticketForm.get('priority').touched && f.priority.errors">
  <span *ngIf="f.priority.errors.required">Priority is required.</span>
  </div>
   
   
      <label for="issueCategory">Issue Category</label>
  <select id="issueCategory" formControlName="issueCategory">
  <option value="">Select Category</option>
  <option value="Authentication">Authentication</option>
  <option value="UI Bug">UI Bug</option>
  <option value="Performance">Performance</option>
  <option value="Other">Other</option>
  </select>
  <div class="error" *ngIf="ticketForm.get('issueCategory').touched && f.issueCategory.errors">
  <span *ngIf="f.issueCategory.errors.required">Issue category is required.</span>
  </div>
   
      <div class="submit-div">
  <button type="submit" [disabled]="ticketForm.invalid" class="submit-button">{{isEditing ? "Update Ticket" :
          "Submit Ticket"}}</button>
  </div>
  </form>
  </div>
   
  <div class="modal" *ngIf="showModal">
  <div class="modal-content">
  <h3 *ngIf="!isEditing">Ticket Added Successfully!</h3>
   
      <h3 *ngIf="isEditing">Ticket Updated Successfully!</h3>
  <button class="modal-ok-button" (click)="closeModalAndReset()">OK</button>
  </div>
  </div>